/* common */
body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
   }

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}


/* header */
header {
    padding: 20px 0;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 img {
    padding: 0 20px;
    width: 100%;
}


header ul {
    display: flex;
    padding-right: 20px;
    gap: 20px;
    font-weight: bold;
}

header li {
    font-size: 1.6rem;
}
 

/* first */
#firstview {
    position: relative;
}
#firstview h1 {
    color: #fff;
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#firstview h2 {
    position: absolute;
    bottom: 225px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

#firstview img {
    width: 100%;
    height: 551px;
    object-fit: cover;
}

/* blog */


#blog h1 {
    text-align: center;
    font-size: 3.2rem;
    padding: 60px 0 49px;
    font-weight: bold;
}

#blog ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
} 

#blog li {
    width: calc((100% - 50px) / 3);
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
}

#blog li > img {
    width: 100%;
}

#blog li .text {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px 20px 74px 20px;
}

#blog li .date {
    font-size: 1.6rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
}

#blog a {
    text-align: center;
    border: 1px solid #EEEEEE;
    width: 100%;
    max-width: 310px;
    height: 52px;
    margin: 46px auto 88px;
    line-height: 52px;
    font-size: 1.8rem;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    display: block;
    font-weight: bold;
}


/* contact */
#contact .container { 
    position: relative;
}

#contact h1 {
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.6rem;
    color: #FFFFFF;
    font-weight: bold;
}

#contact img {
    width: 100vw;
    height: 455px;
    object-fit: cover;
    margin: 0 calc(50% - 50vw);
}

#contact .text {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 149px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    font-weight: bold;
}

#contact #contact-btn {
    text-align: center;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    background: #83032A 0% 0% no-repeat padding-box;
    position: absolute;
    top: 357px;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 54px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 54px;
}

/* footer */
footer {
    background: #333333 0% 0% no-repeat padding-box;
}

footer small {
    text-align: center;
    font-size: 1.7rem;
    color: #FFFFFF;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
}



/* medium screen */

@media (max-width:768px){
    header li {
        font-size: 1.3rem;
        white-space: nowrap;
    }

    #blog ul {
        gap: 10px;
    } 

    #blog li {
        width: calc((100% - 20px) / 2);
        position: relative;
        box-shadow: 0px 3px 6px #00000029;
    }

    #blog li .text {
        width: 100%;
        font-size: 1.6rem;
    }



}




/* small screen */

@media (max-width:500px){

    .container {

    }

    #firstview h1 {
        width: auto;
    }
    #firstview h2 {
        bottom: 170px;
    }

    header h1 img {
        padding: 0 15px;
        width: 80%;
    }

    header ul {
        padding-right: 15px;
        gap: 15px;
    }

    header li {
        font-size: 1rem;
    }

    #blog ul {
        gap: 30px;
    } 
    
    #blog li {
        width: 100%;
    }

    #blog li .text {
        width: 100%;
        font-size: 2.2rem;
    }



    #contact h1 {
        font-size: 3.4rem;
        text-align: center;
        white-space: nowrap;
    }

    
    #contact .text {
        width: 100%;
    }


    footer small {
        text-align: center;
        font-size: 1rem;
        width: 100%;
        height: 80px;
        line-height: 80px;
        white-space: wrap;
    }
}